<!DOCTYPE html>
{% extends 'dashboard.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
            <div class="card mb-12">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Add Services</h5>
                    </div>
                    <div class="card-body">
                      <form method="post" action="{% url 'save_service' %}" enctype="multipart/form-data">
                          {% csrf_token %}
                        <div class="mb-3">
                          <label class="form-label" for="basic-default-fullname">Services Name</label>
                          <input type="text" name="service_name" class="form-control" id="basic-default-fullname" placeholder="Free Shipping">
                        </div>

                        <div class="mb-3">
                          <label class="form-label" for="basic-default-message">Description</label>
                          <textarea id="basic-default-message" name="service_description"  class="form-control" placeholder=""></textarea>
                        </div>
                        <div class="mb-3">
                          <label class="form-label">Services Image</label>
                          <input type="file"  name="service_image" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
            </div>

  <!--    Form Validation-->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == "success" %}
                    <script>
                        swal('{{ msg }}', '', 'success')
                    </script>
                 {% elif msg.tags == "warning" %}
                    <script>
                        swal('{{ msg }}', '', 'warning')
                    </script>
                {% elif msg.tags == "error" %}
                    <script>
                        swal('{{ msg }}', '', 'error')
                    </script>
                {% elif msg.tags == "info" %}
                    <script>
                        swal('{{ msg }}', '', 'info')
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}
</body>


</html>
{% endblock %}